body{
    box-sizing: border-box;
    overflow-x: hidden;
}

.custom-navbar{
    background-color: #2C3E50 !important;
    color: #fff !important;
}


.nav-link{
    position: relative;
}

.nav-link:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #1ABC9C; 
    border-radius: 8px; 
    z-index: -1; 
    transition: all 0.3s ease-in-out; 
}


.section{
background-color: #3ec09b; 
padding: 30px;
border-radius: 10px;
}

h1 {
font-size: 36px;
margin: 0;
}

.line-and-star {
display: flex;
align-items: center;
justify-content: center;
margin: 20px 0;
}

.line {
width: 80px; 
height: 5px; 
background-color: white;
margin: 0 10px;
}

.star {
font-size: 20px; 
color: white;
}

p {
font-size: 16px;
margin: 10px 0 0;
text-align: center;
}

.line-contact {
    width: 80px; 
    height: 5px; 
    background-color: #000;
    margin: 0 10px;
}

.star-contact {
    font-size: 20px; 
    color: #000;
}


.icon li a {
    color: #fff;
}

.icon  li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid gray;
    display: flex; 
    justify-content: center;
    align-items: center;

}

.home-container{
    background-color: #1ABC9C;
    color: #fff;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column ;
    padding-top: 56px ;
    
    
}

.about-container{
    background-color: #1ABC9C;
    height:  100vh;
    color: #fff;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column ;
}

.portfolio-container{
    padding-top: 70px;
}

.image-container {
    position: relative;
    width: 300px; 
    height: 200px; 
    overflow: hidden;
}


.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #1ABC9C ; 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.image-container .overlay span {
    color: white;
    font-size: 50px; 
    font-weight: bold;
}

.image-container:hover .overlay {
    opacity: .9;
}


.contact-container{
    padding-top: 90px;
}


.form-control:focus{
    box-shadow: none !important;
}


.footer-container{
    background-color: #2C3E50;
    padding-top: 30px;
    /* margin-top: 10px; */
}

.footer-end{
    background-color: #1A252F;
}

